streamlit       # Для створення веб-інтерфейсу
pandas          # Для роботи з таблицями
numpy           # Для математичних обчислень
scikit-learn    # Для методів багатовимірної статистики
matplotlib      # Для статичних графіків
seaborn         # Для красивих статистичних графіків
plotly          # Для інтерактивних графіків
openpyxl        # Щоб читати Excel файли